<label class="initial-input__label" for={{name}}>{{label}}</label>
<div class="initial-input__block">
	<input class="initial-input__input"
		   name="{{name}}"
		   id={{name}}
		   type="{{type}}"
		   placeholder={{placeholder}}
		   value="{{value}}">
	<span class="initial-input__error">{{error}}</span>
</div>
