<div class="settings-change-password-container">
	{{{avatar}}}
	<label class="settings-change-password-container__label">Изменить пароль</label>
		<fieldset>
			{{{ oldPasswordInput }}}
			{{{ newPasswordInput }}}
		</fieldset>
	<div class="settings-change-password-container__actions">
		{{{ submitButton }}}
		{{{ cancelButton }}}
	</div>
</div>
