<div class='registration-container'>
	<label class='registration-container__label'>Регистрация</label>
	<form>
		<fieldset>
			{{{emailInput}}}
			{{{loginInput}}}
			{{{firstNameInput}}}
			{{{secondNameInput}}}
			{{{phoneInput}}}
			{{{passwordInput}}}
			{{{repeatPasswordInput}}}
			{{{submitButton}}}
			{{{loginLink}}}
		</fieldset>
	</form>
</div>