<div class="registration-container">
	<label class="registration-container__label">Регистрация</label>
	<form>
		<fieldset>
			{{{ emailInput }}}
			{{{ loginInput }}}
			{{{ firstNameInput }}}
			{{{ lastNameInput }}}
			{{{ phoneInput }}}
			{{{ passwordInput }}}
			{{{ repeatPasswordInput }}}
			{{{ submitButton }}}
			{{{ loginLink }}}
		</fieldset>
	</form>
</div>
