<div class='settings-change-info-form-container'>
	{{{avatar}}}
	<label class='settings-change-info-form-container__label'>Изменить данные</label>
	<form>
		<fieldset>
			{{{email}}}
			{{{login}}}
			{{{firstName}}}
			{{{secondName}}}
			{{{displayName}}}
			{{{phone}}}

			<div class='settings-change-info-form-container__actions'>
				{{{submitButton}}}
				{{{cancelButton}}}
			</div>
		</fieldset>
	</form>
</div>