<div class="avatar-container">
    <label class="avatar-container__label"  for="file">
        <span>{{label}}</span>
    </label>
    <input name="{{name}}" 	{{#if disabled}}disabled{{/if}} id="file" type="file" accept="{{ accept }}"/>
    <img src="{{src}}" alt="{{ imageAlt }}" id="output" />
</div>

