<div class="settings-form-container">
	{{{avatar}}}

	<label class="settings-form-container__name">{{user.firstName}}</label>

	<div class="settings-form-container__fields">
		{{{email}}}
		{{{login}}}
		{{{firstName}}}
		{{{secondName}}}
		{{{displayName}}}
		{{{phone}}}
	</div>


	<div class="settings-form-container__links">
		{{{settingsChangeInfoButton}}}
		{{{settingsChangePasswordButton}}}
	</div>

	<div class="settings-form-container__actions">
		{{{logoutButton}}}
	</div>
</div>
