<div class="settings_input-container">
    <label for={{name}} class="settings_input-label">{{label}}</label>
    <input name="{{name}}" id={{name}} type="{{type}}" placeholder={{placeholder}} class="settings_input-value">
</div>
