<li class="chat-list-item">
    <div class="chat-list-item_container">

        {{> "chat/chat-user-avatar/chat-user-avatar"}}

        <div class="chat-list-item_message-wrapper">
            <span class="chat-list-item_name">{{userName}}</span>
            <div class="chat-list-item_message-container">
                <span>{{you}}:</span>
                <span>{{message}}</span>
            </div>
        </div>
        <div class="chat-list-item_time-wrapper">
            <span class="chat-list-item_time">{{dateLabel}}</span>
            <span class="chat-list-item-counter">{{unreadMessagesAmount}}</span>
        </div>
    </div>
</li>
